@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700;800;900&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Heebo', sans-serif;
}

input{
    font-family: 'Heebo', sans-serif;
}

/* Chrome safari and opera */
::-webkit-scrollbar{
    display: none;
}


body{
    -ms-overflow-style: none; /* edge */
    scrollbar-width: none; /* firefox */
}